@font-face {font-family: 'iconfont';
    src: url('../../../resource/asset/iconfont/iconfont.eot'); /* IE9*/
    src: url('../../../resource/asset/iconfont/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../../../resource/asset/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../../resource/asset/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../../resource/asset/iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    /*-webkit-text-stroke-width: 0.2px;*/
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    background-size: auto;
    position: relative;
    top: -2px;
}
.icon-shanchu:before { content: "\e60b"; }
.icon-gengduo:before { content: "\e614"; }
.icon-tianjia:before { content: "\e615"; }
.icon-jiantou:before { content: "\e61c"; }
.icon-xiangziline:before { content: "\e60c"; }
.icon-tuichu:before { content: "\e600"; }
.icon-gengduo1:before { content: "\e60d"; }
.icon-shezhi:before { content: "\e601"; }
.icon-tubiao1huanfu:before { content: "\e602"; }
.icon-ren:before { content: "\e603"; }
.icon-jiantou1:before { content: "\e625"; }
.icon-jinjidan:before { content: "\e604"; }
.icon-bianji:before { content: "\e61a"; }
.icon-shangla:before { content: "\e623"; }
.icon-iconfonticonfontclose:before { content: "\e61e"; }
.icon-gengduo2:before { content: "\e616"; }
.icon-shaixuan:before { content: "\e605"; }
.icon-shaixuan1:before { content: "\e60f"; }
.icon-zirenwu:before { content: "\e617"; }
.icon-qq-copy:before { content: "\e618"; }
.icon-weixin:before { content: "\e61d"; }
.icon-xiala:before { content: "\e606"; }
.icon-xiangmu:before { content: "\e607"; }
.icon-xinjian:before { content: "\e608"; }
.icon-chengyuan:before { content: "\e610"; }
.icon-yysj:before { content: "\e624"; }
.icon-weibo:before { content: "\e619"; }
.icon-icon6:before { content: "\e611"; }
.icon-baobiao:before { content: "\e612"; }
.icon-miaoshu:before { content: "\e60e"; }
.icon-jiantou-copy:before { content: "\e628"; }
.icon-jiantou2:before { content: "\e627"; }
.icon-guanzhuren01:before { content: "\e609"; }
.icon-rili:before { content: "\e613"; }
.icon-jinzhi:before { content: "\e622"; }
.icon-gongsisvgtubiaozongji20:before { content: "\e61b"; }
.icon-liebiao5:before { content: "\e60a"; }
.icon-wenjianjia:before { content: "\e621"; }
.icon-miaozhuna:before { content: "\e61f"; }
.icon-shijiananpai:before { content: "\e620"; }
.icon-xuanzekuanghoucopy:before { content: "\e626"; }

.icon-xiangziline:hover {
    color: #4097fc !important;
}

.icon-shanchu:hover {
    color: red !important;
}

.icon-zirenwu:hover {
    color: #4097fc !important;
}

.icon-iconfonticonfontclose:hover {
    color: red !important;
}

.icon-qq-copy:hover {
    color: #4097fc !important;
}

.icon-weixin:hover {
    color: #4097fc !important;
}

.icon-weibo:hover {
    color: #4097fc !important;
}