@charset "UTF-8";
/* 基础设置 */
html {
  height: 100%; }

body {
  min-height: 100%;
  position: relative;
  background: #fff;
  padding: 40px 0;
  word-wrap: break-word;
  word-break: break-word;
}

footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 50; }

header {
  position: relative;
  z-index: 50; }

#layout {
  overflow-x: hidden;
  background-color: transparent; }

body, h1, h2, h3, h4, h5, h6, p, header, footer, nav {
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5em; }

ol, ul, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  vertical-align: middle; }

th, td {
  padding: 0.5em; }

tbody, thead, tfoot, tr, th, td {
  border: inherit; }

a {
  text-decoration: none;
  color: inherit; }

img {
  border: none;
  vertical-align: middle;
  max-width: 100%; }

img.block {
  width: 100%; }

input, textarea {
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background: none;
  border: 1px solid #ccc; }

textarea {
  padding: 5px 10px;
  width: 100%;
  resize: vertical; }

select, button {
  font-size: inherit;
  font-family: inherit;
  color: inherit; }

[type=button], [type=submit], button {
  cursor: pointer;
  -webkit-appearance: none; }

[type=text], [type=email], [type=password] {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  height: 2em; }

input[type=radio] {
  vertical-align: text-top; }

hr {
  border: none;
  margin: 1em 0;
  border-top: 1px solid #e5e5e5; }

hr.dashed {
  border-top: 1px dashed #e5e5e5; }

iframe {
  border: none;
  width: 100%;
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 字体设置 */
html, body, #layout {
  font-size: 14px; }

body {
  color: #666666; }

@media only screen and (min-width: 1200px) {
  body {
    font-family: "Lato","Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  }
}
.xxx-small {
  font-size: 7px !important; }

.xx-small {
  font-size: 8px !important; }

.x-small {
  font-size: 9px !important; }

.smaller {
  font-size: 10px !important; }

.small {
  font-size: 12px !important; }

.normal {
  font-size: 14px !important; }

.medium {
  font-size: 16px !important; }

.large {
  font-size: 18px !important; }

.larger {
  font-size: 20px !important; }

.x-large {
  font-size: 24px !important; }

.xx-large {
  font-size: 30px !important; }

.xxx-large {
  font-size: 36px !important; }

.bold {
  font-weight: bold; }

.thin {
  font-weight: normal; }

.loose {
  letter-spacing: 0.1em; }

.looser {
  letter-spacing: 0.2em; }

/* 颜色类 */
.red {
  color: #ff0000; }

.orange {
  color: #ffac52; }

.green {
  color: #00bb41; }

.blue {
  color: #2ba1d8; }

.gray {
  color: #aaaaaa; }

.lighter {
  color: #bababa; }

.black {
  color: #000000; }

.white {
  color: white; }

/* 功能类 */
dl {
  display: table;
  width: 100%;
  text-align: center;
  vertical-align: middle; }

dd, dt {
  display: table-cell;
  vertical-align: inherit;
  position: relative; }

dt {
  white-space: nowrap;
  width: 1px; }
  dt img {
    width: auto; }

th:after,
td:after,
dd:after,
dt:after {
  content: ""; }

dl.fixed {
  table-layout: fixed; }

dl.dl-normal,
.dl-narmal dl {
  display: block;
  text-align: left;
  vertical-align: top; }

.dl-normal dt, .dl-normal dd {
  display: inline-block;
  width: auto;
  white-space: normal; }

.inline {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

.block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.v-top {
  vertical-align: top !important; }

.v-middle {
  vertical-align: middle !important; }

.v-bottom {
  vertical-align: bottom !important; }

.t-left {
  text-align: left !important; }

.t-center {
  text-align: center !important; }

.t-right {
  text-align: right !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.left {
  left: 0; }

.right {
  right: 0; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both; }

.row:before, .row:after {
  content: '';
  display: block; }

.row:after {
  clear: both; }

.row {
  zoom: 1; }

.row > div, .row > li {
  float: left; }

.border {
  border: 1px solid #f8f8f8; }

.border-radius {
  border-radius: 5px; }

.nowrap {
  white-space: nowrap; }

.wrapping {
  white-space: normal; }

.text-nowrap, .text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.underline {
  text-decoration: underline; }

.hide {
  display: none; }

.one-twice {
  width: 50%; }

.one-third {
  width: 33.33%; }

.two-third {
  width: 66.66%; }

.one-forth {
  width: 25%; }

.three-forth {
  width: 75%; }

.one-fifth {
  width: 20%; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666667%; }

.col-10 {
  width: 83.33333333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666667%; }

.col-7 {
  width: 58.33333333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666667%; }

.col-4 {
  width: 33.33333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66666667%; }

.col-1 {
  width: 8.33333333%; }

.boxing-10 {
  padding: 10px; }

.boxing-15 {
  padding: 15px; }

.boxing-20 {
  padding: 20px; }

.padding-5 {
  padding-left: 5px;
  padding-right: 5px; }

.padding-10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding-15 {
  padding-left: 15px;
  padding-right: 15px; }

.padding-20 {
  padding-left: 20px;
  padding-right: 20px; }

.padding-30 {
  padding-left: 30px;
  padding-right: 30px; }

.padding-left-5 {
  padding-left: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-right-20 {
  padding-right: 20px; }

.margin-5 {
  margin-left: 5px;
  margin-right: 5px; }

.margin-10 {
  margin-left: 10px;
  margin-right: 10px; }

.margin-15 {
  margin-left: 15px;
  margin-right: 15px; }

.margin-20 {
  margin-left: 20px;
  margin-right: 20px; }

.no-margin {
  margin: 0; }

.expand-10 {
  margin-left: -10px;
  margin-right: -10px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-right-20 {
  margin-right: 20px; }

.spacing + .spacing {
  margin-left: 10px; }

.em-05 {
  padding-left: 0.5em; }

.em-1 {
  padding-left: 1em; }

.em-2 {
  padding-left: 2em; }

.text-head {
  margin-right: 5px; }

.text-foot {
  margin-left: 5px; }

.bg-white {
  background: white; }

.separator {
  display: inline-block;
  height: 1.2em;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  margin: 0 0.5em; }

article p {
  margin: 1em 0; }
article.indent p {
  text-indent: 2em; }
article.narrow p {
  margin: 0; }

.w1000 {
  max-width: 1000px;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto; }

.w1200 {
  max-width: 1200px;
  min-width: 768px;
  margin-left: auto;
  margin-right: auto; }

.disabled {
  cursor: default !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.remove {
  height: 0;
  overflow: hidden; }

.button-row {
  padding: 20px;
  white-space: nowrap; }

.bg-glass {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  transition: background 0.3s; }

.btn {
  border: none;
  background: #ccc;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  padding: 8px 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal; }
  .btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset; }
  .btn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset; }
  .btn.disabled, .btn[disabled] {
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50); }
  .btn.freestyle {
    padding: 0;
    background-color: none;
    border-radius: 0;
    box-shadow: none; }
  .btn.btn-reverse {
    border: 1px solid #666666;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #666666;
    background: none; }
    .btn.btn-reverse:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .btn.btn-reverse:active {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  .btn .icon {
    margin-right: 5px; }

.btn-green {
  background: #00bb41;
  color: white; }
  .btn-green.btn-reverse {
    border-color: #00bb41;
    color: #00bb41; }

.btn-orange {
  background: #ffac52;
  color: white; }
  .btn-orange.btn-reverse {
    border-color: #ffac52;
    color: #ffac52; }

.btn-blue {
  background: #2ba1d8;
  color: white; }
  .btn-blue.btn-reverse {
    border-color: #2ba1d8;
    color: #2ba1d8; }

.btn-gray {
  background: #aaaaaa;
  color: white; }
  .btn-gray.btn-reverse {
    border-color: #aaaaaa;
    color: #aaaaaa; }

.btn-long {
  width: 100%;
  display: block; }

.btn-large {
  width: 160px; }

.btn-medium {
  width: 120px; }

.btn-small {
  padding: 8px 16px;
  border-radius: 3px; }

.mui-switch {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
  .mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63; }
    .mui-switch:checked:before {
      left: 21px; }
  .mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
    .mui-switch.mui-switch-animbg:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: #64bd63;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .mui-switch.mui-switch-animbg:checked:before {
        transition: left 0.3s; }
  .mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .mui-switch.mui-switch-anim:before {
      transition: left 0.3s; }
    .mui-switch.mui-switch-anim:checked {
      box-shadow: #64bd63 0 0 0 16px inset;
      background-color: #64bd63;
      transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
      .mui-switch.mui-switch-anim:checked:before {
        transition: left 0.3s; }

.panel {
  border-top: 1px solid #f8f8f8;
  background: white;
  margin-bottom: 30px; }
  .panel.panel-blue {
    border-color: #00adff; }
  .panel.panel-orange {
    border-color: #ffa800; }
  .panel .title {
    padding: 20px;
    font-size: 16px;
    color: #000000; }

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative; }
  .checkbox:hover {
    border-color: #24aae9; }
  .checkbox.checked {
    border-color: #24aae9; }

.radio {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -1px; }

.checkbox, .radio {
  cursor: pointer; }
  .checkbox.freestyle, .radio.freestyle {
    border: none;
    background: none; }
  .checkbox input, .radio input {
    position: absolute;
    z-index: -1;
    opacity: 0 !important;
    filter: alpha(opacity=0);
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.form-panel dl {
  margin-bottom: 10px;
  text-align: left; }
.form-panel dt {
  vertical-align: top;
  padding: 5px 5px 7px 0;
  white-space: nowrap;
  min-width: 5.5em; }
.form-panel .form-control, .form-panel input[type=text], .form-panel input[type=password], .form-panel select, .form-panel textarea, .form-panel .form-control-text {
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 3px; }
.form-panel input[type=text], .form-panel input[type=password], .form-panel select {
  width: 100%;
  height: 36px;
  line-height: 22px;
  line-height: 36px\9;}input::-ms-clear{display:none;}
  select{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    padding:0px 10px;
  }
  select:after{
    content: '';
  }
.form-panel textarea {
  min-height: 80px; overflow: hidden;}
.form-panel .form-control-text {
  min-height: 36px;
  padding: 8px 10px;
  display: block; }
.form-panel .submit-buttons {
  margin-top: 90px;
  text-align: center; }
.form-panel .required dt:before, .form-panel dt.required:before, .form-panel label.required:before {
  content: '*';
  display: inline-block;
  width: 7px;
  margin-left: -7px;
  color: #ff7e00; }
.form-panel input:focus, .form-panel select:focus, .form-panel textarea:focus {
  border: 1px solid #2ba1d8;
  background: white; }
.form-panel label + label {
  margin-left: 10px; }
.form-panel [disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default; }

.popover, .dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  display: none;
  opacity: 0;
  transition: all 0.5s;
  text-align: center; }
  .popover .inner, .dialog .inner {
    margin-top: -50px;
    position: relative;
    display: inline-block;
    text-align: left;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transition: all 0.5s; }
  .popover .title, .dialog .title {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #f8f8f8; }
  .popover .content, .dialog .content {
    padding: 20px 24px;
    min-height: 60px; }
  .popover.in, .dialog.in {
    opacity: 1; }
    .popover.in .inner, .dialog.in .inner {
      margin-top: 0; }

.popover {
  top: 120px;
  bottom: auto; }
  .popover.message-popover .inner {
    border: 1px solid #b6b6b6\9;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
    width: 260px; }
  .popover.message-popover .content {
    transition: all 0.3s;
    opacity: 0; }
  .popover.message-popover .btn {
    padding-top: 5px;
    padding-bottom: 5px; }
  .popover.message-popover.in .content {
    opacity: 1; }

.dialog {
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0); }
  .dialog .outer {
    display: table-cell;
    padding-top: 120px; }
  .dialog .inner {
    min-width: 300px;
    height: 140px;
    text-align: center;border-radius: 5px;}
  .dialog .button-row button {
    padding: 8px 25px;
    line-height: 1em; }
    .dialog .button-row button + button {
      margin-left: 25px; }

.dropdown {
  position: relative; }
  .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 10px 20px; }
    .dropdown .dropdown-menu .menu-item {
      display: block;
      padding: 10px 20px;
      margin: 0 -20px; }
      .dropdown .dropdown-menu .menu-item:hover {
        background: #f1f1f1; }
  .dropdown.open .dropdown-menu {
    display: block; }

body {
  font-family: "Lato","Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif; }

input {
  border-radius: 3px; }

input, button, textarea, select {
  outline: none; }
  input:focus, button:focus, textarea:focus, select:focus {
    border-color: #2ba1d8 !important; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

::selection {
  background: #69c8f5;
  color: #fff; }

::-moz-selection {
  background: #69c8f5;
  color: #fff; }

.header {
  min-width: 1126px;
  background: #13427c;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0; }
  .header .title {
    font-size: 14px;
    color: #000000;
    padding: 0 20px;
    float: left; }
    .header .title.active, .header .title.hide {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid #333\9;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid #333\9;
      line-height: 50px;
      color: #fff; }
  .header .pull-right .btn {
    margin-left: 14px; }
  .header .menu {
    width: 66px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    display: block;
    text-align: center;
    float: left;
    background: url("../img/more_sel.png") no-repeat 50% 50%; }
  .header .menu.active:after {
    content: '';
    position: absolute;
    width: 66px;
    height: 50px;
    line-height: 50px;
    top: 0px;
    left: 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3) url("../img/more_white.png") no-repeat 50% 50%; }
  .header .user {
    padding: 0 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    line-height: 50px;
    display: inline-block; }
  .header .menu-card {
    border: 1px solid #b6b6b6\9;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 10px;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2), -3px -3px 6px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2), -3px -3px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2), -3px -3px 6px 0 rgba(0, 0, 0, 0.2); }
    .header .menu-card .triangle {
      position: absolute;
      top: -10px;
      left: 13px;
      background-color: rgba(0, 0, 0, 0.02); }
    .header .menu-card li {
      float: left;
      width: 80px;
      text-align: center;
      height: 90px; }
      .header .menu-card li img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 60px;
        display: block;
        margin: 0 auto;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .header .menu-card li a:hover p span {
        border: 1px solid #fff;
        background-color: #EEF9FF;
        color: #000000;
        padding: 1px 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      .header .menu-card li a:hover img {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1); }
      .header .menu-card li p {
        line-height: 30px;
        height: 30px;
        vertical-align: middle;
        display: inline-block; }
  .header .personal-card {
    background: white;
    box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 20px 30px;
    text-align: left;
    color: black;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 3; }
    .header .personal-card .triangle {
      position: absolute;
      top: -10px;
      left: auto;
      right: 30px; }
    .header .personal-card li:first-child {
      text-align: center; }
    .header .personal-card li {
      padding: 5px 0; }
    .header .personal-card li.setting {
      margin-top: 2px; }
    .header .personal-card .avatar {
      width: 40px;
      height: 40px;
      border: 1px solid #ddd;
      display: inline-block; }

.triangle {
  width: 0;
  height: 0;
  border: 10px solid white;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: -10px;
  left: 13px;
  background-color: rgba(0, 0, 0, 0.02); }

.sidebar {
  background: #1a242b;
  color: white;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0; }
  .sidebar .user {
    padding: 14px 2px 10px 20px;
    width: 90px;
    text-align: center;
    border-bottom: 1px solid #070b0e; }
    .sidebar .user .avatar {
      margin: 0 auto;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      border: none; }
      .sidebar .user .avatar img {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        z-index: -1;}
    .sidebar .user p {
      white-space: nowrap;
      margin-top: 8px;
      margin-left: -10px; }
    .sidebar .user .name {
      display: inline-block;
      vertical-align: middle;
      max-width: 6em;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis; }
    .sidebar .user .separator {
      border-color: white;
      margin: 0 3px; }
  .sidebar .nav .icon {
    width: 20px;
    height: 20px;
    margin-right: 7px; }
  .sidebar .nav ul {
    padding-top: 25px; }
  .sidebar .nav li {
    white-space: nowrap;
    margin-bottom: 35px; }
    .sidebar .nav li.active, .sidebar .nav li:hover {
      background: #2ba1d8;
      margin-right: -1px; }
  .sidebar .nav a {
    padding: 10px 15px;
    display: block; }
  .sidebar .personal-card {
    background: white;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
    width: 330px;
    height: 140px;
    padding: 20px;
    text-align: left;
    color: black;
    position: absolute;
    top: 0;
    left: 0; }
    .sidebar .personal-card .avatar {
      width: 58px;
      height: 58px;
      border: 1px solid #ddd;
      margin-right: 10px; }
    .sidebar .personal-card dl {
      text-align: left;
      margin-bottom: 15px; }
      .sidebar .personal-card dl p {
        margin-top: 5px; }

.work-panel {
  position: fixed;
  z-index: 48;
  top: 50px;
  right: -30%;
  bottom: 0;
  width: 30%;
  background: white;
  padding-top: 60px;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);
  display: none;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.2, 1); }
  .work-panel .title {
    padding: 10px 10px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    .work-panel .title .is-milestone {
      margin-left: 20px;
      font-size: 14px !important;
      cursor: pointer;
      color: #aaaaaa; }
      .work-panel .title .is-milestone .icon-milestone-view {
        position: relative;
        top: -4px; }
      .work-panel .title .is-milestone .checkbox {
        margin-right: 0; }
  .work-panel .content-wrap {
    height: 100%;
    padding: 20px 6%;overflow-x: hidden;overflow-y: auto;}
  .work-panel .content {
    position: relative; }
  .work-panel .close-btn {
    float: right;
    cursor: pointer; }
  .work-panel form {
    transition: opacity 0.3s; }

.header {
  transition: right 0.5s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.2, 1); }

#viewport {
  transition: margin 0.5s;
  transition-timing-function: cubic-bezier(0, 0.8, 0.2, 1); }

.work-panel-open .work-panel.open {
  right: 0;
  display: block;
  z-index: 50;
  overflow: hidden;
  min-width: 576px;border-left: 1px solid #b6b6b6\9;}
.work-panel-open #viewport {
  margin-right: 30%; }

#viewport {
  margin-left: 0;
  margin-top: 50px;
  padding: 30px 20px;}

.avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #dddddd;
  position: relative; }
  .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;}
    .avatar img.filtergray {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 4+ */
      filter: gray;
      /* IE 6-9 */ }
  .avatar.avatar-add {
    border: none; }
  .avatar + .avatar {
    margin-left: 5px; }
  .avatar .delete {
    position: absolute;
    top: -5px;
    right: -5px;
    line-height: normal;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s; }
  .avatar:hover .delete {
    opacity: 1;
    transform: scale(1); }

.list .item {
  padding: 0 20px; }
  .list .item dl {
    height: 46px; }
  .list .item dd {
    padding-right: 10px;
    text-align: left; }
    .list .item dd p {
      line-height: 1.2em;
      max-height: 2.4em;
      overflow: hidden; }
  .list .item .hover-item {
    display: none; }
  .list .item .handler-button {
    margin-right: 20px; }
  .list .item:hover .hover-item {
    display: inline-block; }
  .list .item.red .orange {
    color: #ff0000; }
  .list .item.yellow {
    background-color: yellow; }
.list .checkbox, .list .radio {
  width: 20px;
  height: 20px; }
.list .time {
  margin-left: 10px;
  vertical-align: middle;
  min-width: 200px;
  display: inline-block; }
.list.narrow .item {
  padding: 0 10px; }
.list.narrow dl {
  height: 40px; }

.panel .list .item {
  border-top: 1px solid #f8f8f8;
  border-radius: 3px;
  min-width: 1000px;height:46px;font-size:15px;}

.panel .list .item:hover {
  background-color: #fffcf5; }

.panel .list .item.active {
  background-color: #fffae7; }

.user-selector {
  margin-bottom: -5px; }
  .user-selector .avatar {
    margin-left: 0 !important;
    margin-right: 5px;
    margin-bottom: 8px; }
  .user-selector.readonly .avatar-add {
    display: none; }

.user-selector-Member {
  margin-bottom: -5px; }
  .user-selector-Member .avatar {
    margin-left: 0 !important;
    margin-top: 30px;
    margin-right: 25px;
    margin-bottom: 5px; }
  .user-selector-Member.readonly .avatar-add {
    display: none; }

.user-selector-popover .inner, .project-selector-popover .inner {
  width: 265px; }
.user-selector-popover .search input, .project-selector-popover .search input {
  border: 1px solid #ccc;
  height: 36px;line-height: 36px;}
.user-selector-popover .add-member, .project-selector-popover .add-member {
  margin: 10px 0;
  height: 36px; }
  .user-selector-popover .add-member .add-button-wrap, .project-selector-popover .add-member .add-button-wrap {
    line-height: 36px;
    text-align: center; }
  .user-selector-popover .add-member input, .project-selector-popover .add-member input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #ccc; }
  .user-selector-popover .add-member dd, .project-selector-popover .add-member dd {
    padding-right: 10px; }
  .user-selector-popover .add-member .icon-add, .project-selector-popover .add-member .icon-add {
    margin-right: 5px; }
.user-selector-popover .avatar, .project-selector-popover .avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0; }
.user-selector-popover .list, .project-selector-popover .list {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: auto; }
  .user-selector-popover .list dt, .project-selector-popover .list dt {
    width: 70px; }
  .user-selector-popover .list dd, .project-selector-popover .list dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.user-selector-popoverPro .inner, .project-selector-popover .inner {
  width: 265px; }
.user-selector-popoverPro .search input, .project-selector-popover .search input {
  border: 1px solid #ccc;
  height: 36px; }
.user-selector-popoverPro .add-member, .project-selector-popover .add-member {
  margin: 10px 0;
  height: 36px; }
  .user-selector-popoverPro .add-member .add-button-wrap, .project-selector-popover .add-member .add-button-wrap {
    line-height: 36px;
    text-align: center; }
  .user-selector-popoverPro .add-member input, .project-selector-popover .add-member input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #ccc; }
  .user-selector-popoverPro .add-member dd, .project-selector-popover .add-member dd {
    padding-right: 10px; }
  .user-selector-popoverPro .add-member .icon-add, .project-selector-popover .add-member .icon-add {
    margin-right: 5px; }
.user-selector-popoverPro .avatar, .project-selector-popover .avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0; }
.user-selector-popoverPro .list, .project-selector-popover .list {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: auto; }
  .user-selector-popoverPro .list dt, .project-selector-popover .list dt {
    width: 70px; }
  .user-selector-popoverPro .list dd, .project-selector-popover .list dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.user-selector-popover-import .inner, .project-selector-popover .inner {
  width: 265px; }
.user-selector-popover-import .search input, .project-selector-popover .search input {
  border: 1px solid #ccc;
  height: 36px; }
.user-selector-popover-import .add-member, .project-selector-popover .add-member {
  margin: 10px 0;
  height: 36px; }
  .user-selector-popover-import .add-member .add-button-wrap, .project-selector-popover .add-member .add-button-wrap {
    line-height: 36px;
    text-align: center; }
  .user-selector-popover-import .add-member input, .project-selector-popover .add-member input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #ccc; }
  .user-selector-popover-import .add-member dd, .project-selector-popover .add-member dd {
    padding-right: 10px; }
  .user-selector-popover-import .add-member .icon-add, .project-selector-popover .add-member .icon-add {
    margin-right: 5px; }
.user-selector-popover-import .avatar, .project-selector-popover .avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0; }
.user-selector-popover-import .list, .project-selector-popover .list {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: auto; }
  .user-selector-popover-import .list dt, .project-selector-popover .list dt {
    width: 70px; }
  .user-selector-popover-import .list dd, .project-selector-popover .list dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.user-selector-popover-qrCode .inner, .project-selector-popover .inner {
  width: 265px; }
.user-selector-popover-qrCode .search input, .project-selector-popover .search input {
  border: 1px solid #ccc;
  height: 36px; }
.user-selector-popover-qrCode .add-member, .project-selector-popover .add-member {
  margin: 10px 0;
  height: 36px; }
  .user-selector-popover-qrCode .add-member .add-button-wrap, .project-selector-popover .add-member .add-button-wrap {
    line-height: 36px;
    text-align: center; }
  .user-selector-popover-qrCode .add-member input, .project-selector-popover .add-member input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #ccc; }
  .user-selector-popover-qrCode .add-member dd, .project-selector-popover .add-member dd {
    padding-right: 10px; }
  .user-selector-popover-qrCode .add-member .icon-add, .project-selector-popover .add-member .icon-add {
    margin-right: 5px; }
.user-selector-popover-qrCode .avatar, .project-selector-popover .avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0; }
.user-selector-popover-qrCode .list, .project-selector-popover .list {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: auto; }
  .user-selector-popover-qrCode .list dt, .project-selector-popover .list dt {
    width: 70px; }
  .user-selector-popover-qrCode .list dd, .project-selector-popover .list dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.project-card {
  width: 265px;
  height: 290px;
  overflow: hidden;
  margin: 0 10px 30px;
  text-align: center;
  background: white;
  position: relative; }
  .project-card canvas {
    margin: 0 auto;
    margin-top: 30px; }
  .project-card .title {
    font-size: 18px;
    color: #000000;
    margin: 5px; }
  .project-card .buttons {
    display: none;
    margin-top: 15px; }
    .project-card .buttons a {
      position: relative;
      z-index: 1; }
    .project-card .buttons a + a {
      margin-left: 30px; }
  .project-card .time-range {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    padding: 0 10px; }
  .project-card .progress {
    position: absolute;
    width: 58%;
    margin: 0px auto;
    left: 0;
    right: 0;
    bottom: 15px;
    background-color: #ccc;
    height: 6px; }
    .project-card .progress .bar {
      background-color: #ccc; }
  .project-card:hover .buttons {
    display: block; }
  .project-card.mini {
    height: 160px;
    border-radius: 5px;}
    .project-card.mini canvas {
      margin-top: 20px; }
    .project-card.mini:hover, .project-card.mini.active {
      background-color: #fffcf6; }
    .project-card.mini .title {
      margin-top: 20px; }

.tree-view .item {
  height: 50px; }
  .tree-view .item dd {
    padding-left: 15px; }
.tree-view > ul > li {
  background-color: #fff;
  margin-bottom: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .tree-view > ul > li > .item {
    border-top: none !important; }
.tree-view ul, .tree-view li {
  position: relative; }
.tree-view .v-line, .tree-view .h-line, .tree-view .node-collapse {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 30px; }
.tree-view .h-line {
  width: 30px;
  left: 0; }
.tree-view .node-collapse {
  top: 25px;
  left: 45px; }
.tree-view ul {
  margin-left: 30px; }
.tree-view > .node-collapse {
  display: none; }
.tree-view > ul {
  margin-left: 0; }
  .tree-view > ul > .h-line {
    display: none; }
  .tree-view > ul ul {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s; }
  .tree-view > ul li.open > ul {
    height: auto;
    opacity: 1;
    overflow: visible; }

.progress {
  height: 2px;
  background: #ccc; }
  .progress .bar {
    height: 100%;
    background: #00bb41; }

.progress-circle {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1; }
  .progress-circle .bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%; }

.milestone-progress {
  width: 26px;
  height: 26px; }

.daterangepicker {
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.glyphicon-chevron-left:before {
  content: "<"; }

.glyphicon-chevron-right:before {
  content: ">"; }

.daterangepicker .ranges {
  text-align: center !important;
  float: none !important;
  padding-top: 5px;
  clear: both; }

.daterangepicker .calendar-time {
  padding-left: 12px !important; }

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  border-radius: 5px;
  width: 70px !important;
  padding: 5px;
  padding-left: 15px; }

.checklist-group .item {
  margin-bottom: 10px;
  position: relative; }
  .checklist-group .item dt {
    min-width: 0; }
  .checklist-group .item .checkbox {
    margin-top: 3px; }
.checklist-group .erase-btn {
  position: absolute;
  top: 12px;
  right: 10px; }

.login-page {
  text-align: center;
  margin: 100px auto;
  width: 300px;
  line-height: 40px; }

.milestone-list {
  margin-left: 110px;
  border-left: 2px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .milestone-list .project-info {
    margin-left: -35px; }
    .milestone-list .project-info canvas {
      vertical-align: middle; }
    .milestone-list .project-info .avatar {
      margin-left: 20px; }
    .milestone-list .project-info .time-progress {
      margin-left: 20px;
      display: inline-block;
      vertical-align: middle;
      width: 300px; }
      .milestone-list .project-info .time-progress .progress {
        margin-top: 5px; }
  .milestone-list .milestone-info {
    margin-left: -110px;
    margin-top: 20px;
    margin-bottom: -23px;
    position: relative;
    z-index: 1; }
    .milestone-list .milestone-info .time {
      display: inline-block;
      vertical-align: middle;
      width: 6em;
      font-size: 15px; }
    .milestone-list .milestone-info .milestone-progress {
      margin-left: 2px; }
  .milestone-list .milestone {
    margin-bottom: 40px; }

.pill {
  padding: 3px 10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  margin-left: 0 !important;
  margin-right: 5px; }
  .pill.active {
    background: #2ba1d8;
    color: white;
    border-color: #2ba1d8; }

.time-button {
  padding: 5px 0; }
  .time-button .pill {
    margin-bottom: 5px; }

.task-list .completed a, .task-list .completed .time {
  text-decoration: line-through !important;
  color: #aaaaaa; }
.task-list .completed .orange {
  color: #aaaaaa !important; }

.background {
  -webkit-background-size: cover;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.submenu {
  color: #fff;
  padding-right: 20px; }
  .submenu span {
    margin-right: 5px; }

.tabs {
  margin: 10px;
  display: inline-block; }
  .tabs a {
    width: 80px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    float: left;
    color: #fff;
    border: 1px solid #fff; }
  .tabs a:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px; }
  .tabs a:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0; }
  .tabs .active {
    color: #FFFFFF;
    background-color: #fff;
    border: none; }

.menu-left-down {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  float: left;
  padding: 0 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.tag {
  border-radius: 3px;
  padding: 2px 3px; }
  .tag.tag-orange {
    background: #ffac52;
    border: none;
    color: white; }

.collect-button {
  position: absolute;
  top: 8px;
  right: 8px; }

.work-panel-open .list-avatar-wrap .avatar {
  display: none; }

.panel .list dd {
  min-width: 200px; }
.panel .list .more-handler {
  text-align: left;
  white-space: nowrap; }
  .panel .list .more-handler .dropdown-menu {
    margin-top: 5px;
    min-width: 130px; }
  .panel .list .more-handler .icon {
    margin-right: 10px; }

.right-menu-more .dropdown-menu {
  min-width: 150px;
  left: -50px;
  white-space: nowrap; }
  .right-menu-more .dropdown-menu li {
    margin-bottom: 20px; }

.no-data .director {
  text-align: center;
  padding-top: 120px;
  color: black; }
.no-data .text {
  margin-top: -105px; }
.no-data .link {
  margin-top: 50px; }

#project-member-popover .checkbox {
  display: none; }

#new-task input[name=Title]{
  border: 1px solid #fff;
}
#new-task input[name=Title]:hover{
  border: 1px solid #2BA1D8;
}
#new-task textarea[name=Description]{
  border: 1px solid #fff;
}
#new-task textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#new-task input[name=Checklist]{
  border: 1px solid #fff;
}
#new-task input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#new-task select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#new-task select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}
#new-task div.content-wrap form div.time-picker-group dl:first-child{
  width: 50%\9!important;
  float: left;\9!important;
}
/*修改页面样式*/
#edit-task input[name=Title]{
  border: 1px solid #fff;
}
#edit-task input[name=Title]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task textarea[name=Description]{
  border: 1px solid #fff;
}
#edit-task textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task input[name=Checklist]{
  border: 1px solid #fff;
}
#edit-task input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#edit-task select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}

#view-task input[name=Title] {
  border: 1px solid #fff;
}
#view-task input[name=Title]:hover {
  border: 1px solid #2BA1D8;
}
#view-task textarea[name=Description] {
  border: 1px solid #fff;
}
#view-task textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#view-task span[name=Description]{
  border: 1px solid #fff;
}
#view-task span[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#view-task input[name=Checklist]{
  border: 1px solid #fff;
}
#view-task input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#view-task span[name=Checklist]{
  border: 1px solid #fff;
}
#view-task span[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#view-task select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#view-task select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}
#view-task span[name=ProjectId]{
  border: 1px solid #fff;
}
#view-task span[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}

#edit-task-calendar input[name=Title]{
  border: 1px solid #fff;
}
#edit-task-calendar input[name=Title]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task-calendar textarea[name=Description]{
  border: 1px solid #fff;
}
#edit-task-calendar textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task-calendar input[name=Checklist]{
  border: 1px solid #fff;
}
#edit-task-calendar input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#edit-task-calendar select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#edit-task-calendar select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}

#new-project input[name=Title]{
  border: 1px solid #fff;
}
#new-project input[name=Title]:hover{
  border: 1px solid #2BA1D8;
}
#new-project textarea[name=Description]{
  border: 1px solid #fff;
}
#new-project textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#new-project input[name=Checklist]{
  border: 1px solid #fff;
}
#new-project input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#new-project select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#new-project select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}

#edit-project input[name=Title]{
  border: 1px solid #fff;
}
#edit-project input[name=Title]:hover{
  border: 1px solid #2BA1D8;
}
#edit-project textarea[name=Description]{
  border: 1px solid #fff;
}
#edit-project textarea[name=Description]:hover{
  border: 1px solid #2BA1D8;
}
#edit-project input[name=Checklist]{
  border: 1px solid #fff;
}
#edit-project input[name=Checklist]:hover{
  border: 1px solid #2BA1D8;
}
#edit-project select[name=ProjectId]{
  border: 1px solid #f1f1f1;
}
#edit-project select[name=ProjectId]:hover{
  border: 1px solid #2BA1D8;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    /*初始状态*/
    flter: "Alpha(Opacity=0)"; }
  20% {
    opacity: 0.2;
    flter: "Alpha(Opacity=0.2)"; }
  40% {
    opacity: 0.4;
    flter: "Alpha(Opacity=0.4)"; }
  60% {
    opacity: 0.6;
    flter: "Alpha(Opacity=0.6)"; }
  80% {
    opacity: 0.8;
    flter: "Alpha(Opacity=0.8)"; }
  100% {
    opacity: 1.0;
    flter: "Alpha(Opacity=1.0)"; } }
.fadeInShow {
  -webkit-animation-name: fadeIn;
  /*动画名称*/
  -webkit-animation-duration: 300ms;
  /*动画持续时间*/
  -webkit-animation-iteration-count: 1;
  /*动画次数*/
  -webkit-animation-delay: 0s;
  /*延迟时间*/ }

#skinBox .divImg {
  position: relative;
  float: left;
  max-width: 18%;
  max-height: 18%;
  min-width: 55px;
  min-height: 55px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #00AEFF;
  cursor: pointer; }
  #skinBox .divImg img {
    min-width: 100%; }

#skinBox .divClickImg {
  position: relative;
  float: left;
  max-width: 18%;
  max-height: 18%;
  min-width: 55px;
  min-height: 55px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #00AEFF;
  cursor: pointer; }
  #skinBox .divClickImg img {
    min-width: 100%; }
#skinBox .divClickImg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url("../img/icon/yes.png") no-repeat center rgba(0, 0, 0, 0.5); }
.popover_move{
  display: none;
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #C4C4C4;
  right: 0px;
  border: none;
  margin-top: 30px;
  padding: 5px 15px;
  width: 140px;
}
.popover_move ul li{
  height: 35px;
  line-height: 35px;
}
.popover_move ul li:first-child{
  border-bottom: 1px solid #f1f1f1;
}
.work-panel #jl_divBox{
  height:45px;margin-bottom:-5px;
}
/*单人指派*/
#jl_divBox{
  height:45px;margin-bottom:-5px;
}
#jl_divBox2{
  height:45px;margin-bottom:-5px;
}
#jl_divBox #jl_input{
  width:270px;
  padding-right: 50px;
}
#jl_divBox2 #jl_input{
  width:270px;
  padding-right: 50px;
}
#jl_divBox div.input_div{
  display:inline-block;
  position:relative;
}
#jl_divBox2 div.input_div{
  display:inline-block;
  position:relative;
}
#jl_divBox div.input_div .qx_btn{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 36px;
  line-height: 36px;
  right: 10px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}
#jl_divBox2 div.input_div .qx_btn{
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 36px;
  line-height: 36px;
  right: 10px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}
#jl_divBox div.input_div .qx_btn:hover{
  color:#24AFFC;
}
#jl_divBox2 div.input_div .qx_btn:hover{
  color:#24AFFC;
}
#List_panel {
  position: absolute;
  width: 270px;
  max-height: 380px;
  overflow: auto;
  min-height: 63px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 1;
  background-color: #fff;
  top: 36px;

}
#form_box{
  display:none;
  position: absolute;
  width: 270px;
  min-height: 63px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 1;
  background-color: #fff;
  top: 36px;
}
#form_box .dl_in{
  margin-bottom:0px;
  padding:10px 10px 0px 10px;
}
#form_box .dl_in .close-btn{
  width: 10px;
  height: 10px;
}
#form_box .dl_in input[type=text]{
  height:38px;
  border-radius:3px;
  border:1px solid #ccc;
}
#form_box .dl_in input[type=button]{
  margin-bottom: 15px;
  width: 100%;
  background-color: #1BB5FE;
  color: #fff;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
#List_panel .dl_li{
  height:63px;
  margin-bottom:0px;
  padding:10px;
  border-bottom:1px solid #f5f5f5;
  cursor:pointer;
}
#List_panel .dl_li:not(.hui):hover{
  cursor:pointer;
  color:#fff;
  background-color:#2BA1D8;
}
#List_panel .dl_li img{
  float:left;
}
#List_panel .dl_li .div_list{
  position: absolute;
  display: inline-block;
  float: left;
}
#List_panel .dl_li .div_list .p_name{
  min-width:200px;
  padding-left:10px;
}
#List_panel .dl_li .div_list .p_email{
  min-width:200px;
  padding-left:10px;
}
#List_panel .dl_li .div_list .p_mobile{
  min-width:200px;
  padding-left:10px;
}
#List_panel .hui{
  background-color: #EFEFEF;
  color: #333;
  font-size: 15px;
  line-height: 43px;
}
#List_panel .hui .p1{
  font-size:16px;
  color:#666;
}
#List_panel .hui .p2{
  font-size:12px;
  color:#999;
}
.dialog_dr{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  z-index: 1;
}

/*多人指派  关注人*/
.gzr_box{
  border: 1px solid #2BA1D8;
  min-height: 65px;
  border-radius: 3px;
  padding-bottom:23px;
}
.gzr_input{
  border: none!important;
  width: 120px!important;
  height: 30px!important;
  z-index: 2;
  position: relative;
  margin: 5px 0px 0px 5px;
}
.gzr_box .btn_qx{
  display: inline-block;
  font-size: 12px;
  color: #ccc;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  right: 35px;
  bottom: 5px;
}
.gzr_box .btn_qx:hover{
  color:#2BA1D8;
}

.gzr_box .btn_qd{
  display: inline-block;
  font-size: 12px;
  color:#2BA1D8;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  right: 0px;
  bottom: 5px;
}

.dl_listBox{
  position: absolute;
  width: 270px;
  max-height: 380px;
  overflow: auto;
  min-height: 63px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 1;
  background-color: #fff;
  /*top: 40px;*/
  margin-top:8px;
  left: 1px;
}
.dl_listBox .dl_li{
  height: 63px;
  margin-bottom: 0px;
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.dl_listBox .dl_li:not(.hui):hover{
  cursor:pointer;
  color:#fff;
  background-color:#2BA1D8;
}
.dl_listBox .dl_li img{
  float:left;
}
.dl_listBox .dl_li .div_list{
  position: absolute;
  display: inline-block;
  float: left;
}
.dl_listBox .dl_li .div_list .p_name{
  min-width:200px;
  padding-left:10px;
}
.dl_listBox .dl_li .div_list .p_email{
  min-width:200px;
  padding-left:10px;
}
.dl_listBox .dl_li .div_list .p_mobile{
  min-width:200px;
  padding-left:10px;
}
.dl_listBox .hui{
  background-color: #EFEFEF;
  color: #333;
  font-size: 15px;
  line-height: 43px;
}
.dl_listBox .hui .p1{
  font-size:16px;
  color:#666;
}
.dl_listBox .hui .p2{
  font-size:12px;
  color:#999;
}
.span_boxDl {
  display: inline-block;
  min-width: 80px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 1px;
  border-radius: 3px;
  position: relative;
  margin: 5px 0px 0px 5px;
  z-index:2;
}
.span_boxDl:hover{
  color:#4A90E2!important;
  border:1px solid #4A90E2;
}
.span_boxDl .avatar{
  width: 22px;
  height: 22px;
}
.span_boxDl .nc_title{
  height: 24px;
  line-height: 24px;
  display: inline-block;
  font-size: 12px;
  padding: 0px 20px 0px 3px
}
.span_boxDl .delete_sp{
  display: inline-block;
  position: absolute;
  right: 5px;
  font-size: 12px;
  top: 5px;
  cursor:pointer;
  font-weight:bold;
}

.form_input{
  display:none;
  position: absolute;
  width: 270px;
  min-height: 63px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 1;
  background-color: #fff;
  top: 36px;
}
.form_input .dl_in{
  margin-bottom:0px;
  padding:10px 10px 0px 10px;
}
.form_input .dl_in .close-btn{
  width: 10px;
  height: 10px;
}
.form_input .dl_in input[type=text]{
  height:38px;
  border-radius:3px;
  border:1px solid #ccc;
}
.form_input .dl_in input[type=button]{
  margin-bottom: 15px;
  width: 100%;
  background-color: #1BB5FE;
  color: #fff;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.dialog_drs{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0);
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: 1;
}
.move_btn {
  display: inline-block;
  text-align: center;
  width: 73px;
  right: 39px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
div#menu_li{
  position: relative;text-align: right;width: 86%;float: left;
}
#menu_li .a_li{
  margin-right:20px;
}
#menu_li .span_txt{
  color: #505050;
  margin-left: 3px;
}

p.p_old_title{
  color:#999;font-size:12px;padding-top:10px;margin-top: 55px;
}
div.old_Record {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
.old_left {
  float: left;
  padding: 5px;
  width: 70%;
}
.old_right {
  float: left;
  padding: 5px;
  width: 30%;
  color: #999;
  font-size: 12px;
  text-align: right;
}
.old_span_name{
  font-size:12px;color:#999;
}
.old_span_title{
  color:#999;margin-bottom:8px;font-size:12px;margin-left:10px;
}
.old_span_con{
  margin-left:20px;margin-top:8px;
}

/*提示 撤销*/
.tip_box {
  position: fixed;
  width: 280px;
  min-height: 112px;
  background-color: #fff;
  bottom: 20px;
  left: 20px;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  margin-left: -330px;
}
.tip_box_top {
  position: absolute;
  margin-left: -10px;
  width: 100%;
  height: 10px;
  border-radius: 5px 5px 0px 0px;
  background: -webkit-linear-gradient(left, #35E8B7, #10D7EA); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #35E8B7, #10D7EA); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #35E8B7, #10D7EA); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #35E8B7, #10D7EA);
}
.tip_close {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}
.tip_txt {
  width: 100%;
  text-align: center;
}
.tip_btns {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}
.tip_btns a {
  display: inline-block;
  width: 55px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border: 1px solid #10D7EA;
  border-radius: 3px;
  font-size: 12px;
}
.tab_nav {
  text-align: right;
  width: 20%;
  height: 50px;
  line-height: 50px;
  margin: 0px auto;
  color: #fff;
  /* margin-left: 28%; */
  /* display: flex; */
  /* justify-content: space-around; */
  /*float: none;*/
  /* left: 0px; */
}
.tab_nav a{
  /*height: 42px;*/
  width: 20%;
  display: inline-block;
  text-align: center;
  cursor: default;
}
.tab_nav .selcted_span {
  display: inline-block;
  height: 42px;
  border-bottom: 2px solid #fff;
}
.tab_nav span:hover{
  display: inline-block;
  height: 42px;
  border-bottom: 2px solid #fff;
  cursor:pointer;
}
.title_top{
  position: absolute;
  top: 44px;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  left: 0px;
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  color: #fff;
}
